@import 'Color'
; 
.product-sidebar{
    // position: fixed;

    .label{
        margin-bottom: 8px;
    }

    .categories, .rating-item, .price-filter{
       margin-bottom: 40px; 

       input{
        background-color: $purple_color;
       }
    }
}