.product-dis{
    display: flex;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.14);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.14);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.14);
    margin-left: 40px;
    margin-bottom: 30px;

    // .product-image{
    //     img{

    //     }
    // }

    .product-details{
        padding-left: 20px;
    }

}